{{ attach_library( 'biopama_global_data/reporting' ) }}
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div id="container-page" class="container-fluid">
  	<div class="row p-3 d-print-none">
		<div class="col col-6">
			<!-- Start Title -->
			<div class="title-sidebar" id="dopa-title">
				<h5 class="subtitle">Report generator</h5>
				<em>The indicators that you have selected are listed below. Drag and sort them in the report creator panel on the right.</em>		  
				<em>Link to help?</em>
			</div>
			<!-- End Title -->
		</div>
		<div class="col col-6" id="container-report">  
			<div id="report-area-title">The Report Area <button type="button" id="report-print-button" class="btn btn-primary" onclick="window.print()"><i class="fas fa-print"></i></button></div> 
		</div>
	</div>
	
	<div class="row">	
		<div class="col col-12" id="report-area">
			
			
			
			<table class="d-print-none">
			  	<thead><tr><td>
				<div class="header-height-fix">
					<div class="header-space">&nbsp;</div>
					<div class="row">
						<div class="col">
						  	<div class="btn-group" role="group" aria-label="Add Stuff"> 
								<button type="button" class="btn btn-secondary"><i class="fas fa-font"></i></button>
								<button type="button" class="btn btn-secondary"><i class="far fa-keyboard"></i></button>
								<button type="button" class="btn btn-secondary"><i class="far fa-comment-alt"></i></button>
							</div>
							<div class="btn-group" role="group" aria-label="User Save or Load">
								<button type="button" class="btn btn-secondary"><i class="fas fa-file-upload"></i></button>
								<button type="button" class="btn btn-secondary"><i class="fas fa-file-download"></i></button>
							</div>
						</div>
						<div class="col">
						  	<input type="text" class="form-control d-inline" placeholder="Change Country">
						</div>
					</div>
					
					
					
					
					
				</div>
			  	</td></tr></thead>
			  	<tbody><tr><td>
					<ul id="sortable-bin" class="connectedSortable indicator-list d-print-none">
						<li class="ui-state-default">Sample Item 1</li>
						<li class="ui-state-default">Sample Item 2</li>
						<li class="ui-state-default">Sample Item 3</li> 
					</ul>
			  	</td></tr></tbody>
			  	<tfoot><tr><td>
					<div class="footer-space">&nbsp;</div>
			  	</td></tr></tfoot>
			</table>
			
			
			<table>
			  	<thead><tr><td>
					<div class="header-height-fix">
						<div class="header-space">&nbsp;</div>
						<h5 class='card-title d-flex justify-content-between' id='card-title-header' type='button' data-toggle='collapse' data-target='#collapseHeader' aria-expanded='false' aria-controls='Header'>
							<div class='report-header-title'>Header</div>
							<div class='data-collapsed'><i class='fas fa-toggle-off'></i></div>
							<div class='data-expanded'><i class='fas fa-toggle-on'></i></div>
						</h5>
						<div class='collapse wrapper-data-card' id='collapseHeader'>
							<img class="report-header-logo" src="{{ globalDataImgPath }}report_header_logo.png">
						</div>
					</div>
			  	</td></tr></thead>
			  	<tbody><tr><td>
					<ul id="sortable-report" class="connectedSortable indicator-list">

					</ul>
			  	</td></tr></tbody>
			  	<tfoot><tr><td>
					<div class="footer-space">&nbsp;</div>
					<h5 class='card-title d-flex justify-content-between' id='card-title-footer' type='button' data-toggle='collapse' data-target='#collapseFooter' aria-expanded='false' aria-controls='Footer'>
						<div class='report-header-title'>Footer</div>
						<div class='data-collapsed'><i class='fas fa-toggle-off'></i></div>
						<div class='data-expanded'><i class='fas fa-toggle-on'></i></div>
					</h5>
					<div class='collapse wrapper-data-card' id='collapseFooter'>
						<img class="report-footer-logo" src="{{ globalDataImgPath }}report_footer.png">
					</div>
			  	</td></tr></tfoot>
			</table>
			
			
			
		</div>
  	</div>
</div>